<% include ./partials/header %>

<h1>This is the index</h1>

<% blog.forEach(function(blog) { %>
    <div>
        <h2><%=blog.title %></h2>
        <img src = "<%= blog.image %>"></img><br></br>
        <span><%= blog.created %></span><br></br>
        <p><%= blog.body %></p><br></br>
        <p>Score: <%= blog.score %></p><br></br>
        <a href="/blogs/<%=blog._id %>">Read More</a><br></br>
    </div>
<% }) %>

<% include ./partials/footer %>